{:source-paths ["src"]
 :dev-http     {8081 "public"}
 :nrepl        {:port 55555}
 :dependencies [[reagent "1.0.0-alpha2"]
                [cljs-http "0.1.46"]]
 :builds       {:app {:target     :browser
                      :output-dir "public/scripts/"
                      :modules    {:core {:init-fn frontend/run}}
                      :devtools   {:after-load frontend/reload}}}}