body {
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
   font-weight: bold;
   display: block;
   color: #FFF;
   whitespace: no-wrap;
   background: #F4F4F4
}

img {
    display: block;
    width: 1440px;
    height: 1608;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 1440px;
    margin: 0 auto;
    position: relative;
}

.input {
  position: absolute;
  top: 245px;
  left: 50px;
  height: 29px;
  width: 64px;
  color: #14143C;
  font-size: 26px;
  line-height: 29px;
}

.skovhygge-input {
    position: absolute;
    top: 280px;
    left: 50px;
    height: 18px;
    width: 53.62px;
    color: #14143C;
    font-size: 16px;
    line-height: 18px;
    text-align: right;
}

input:focus, textarea:focus, select:focus{
        outline: none;
    }

.output {
  position: absolute;
  top: 150px;
  right: 50px;
  height: 29px;
  width: 87px;
  color: #14143C;
  font-family: Arial;
  font-size: 26px;
  line-height: 29px;
}

.skov-output {
  position: absolute;
  top: 185px;
  right: 80px;
  height: 18px;
  width: 72px;
  color: #14143C;
  font-family: Arial;
  font-size: 16px;
  line-height: 18px;
  text-align: right;
}

.total {
    position: absolute;
    top: 40px;
    left: 700px;
    height: 29px;
    width: 61px;
    color: #14143C;
    font-size: 26px;
    line-height: 29px;
}

.process-time-header {
    position: absolute;
    top: 80px;
    left: 520px;
    height: 29px;
    width: 162px;
    color: #14143C;
    font-size: 26px;
    line-height: 29px;
    text-align: left:
    cursor: default;
}

.total-lead-time-header {
    position: absolute;
    top: 80px;
    left: 820px;
    height: 29px;
    width: 122px;
    color: #14143C;
    font-size: 26px;
    line-height: 29px;
}

.total-process-time {
   position: absolute;
    top: 175px;
    left: 520px;
    height: 29px;
    width: 79px;
    color: #14143C;
    font-size: 26px;
    line-height: 29px;
    text-align: right;
}

.total-lead-time {
    position: absolute;
    top: 175px;
    left: 820px;
    height: 29px;
    width: 79px;
    color: #14143C;
    font-size: 26px;
    line-height: 29px;
    text-align: right;
}

.process-time {
      position: absolute;
      height: 18px;
      width: 150px;
      color: #14143C;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      cursor: default;
}

.process-time-1 {
    top: 250px;
    left: 170px;
}

.input-process-time {
     position: absolute;
     height: 29px;
     width: 50px;
     color: #14143C;
     font-size: 26px;
     line-height: 29px;
     text-align: right;
}

.input-process-time-1 {
    top: 280px;
    left: 170px;
}

.label-ps {
    position: absolute;
    height: 29px;
    width: 51px;
    color: #14143C;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    cursor: default;
}

.label-ps-1 {
      top: 283px;
      left: 230px;
    }

.process-time-2 {
    top: 260px;
    left: 450px;
}

.input-process-time-2 {
    top: 280px;
    left: 450px;
}

.label-ps-2 {
      top: 283px;
      left: 510px;
    }

.process-time-3 {
    top: 260px;
    left: 700px;
}

.input-process-time-3 {
    top: 280px;
    left: 700px;
}

.label-ps-3 {
      top: 283px;
      left: 760px;
    }

.process-time-4 {
    top: 260px;
    left: 900px;
}

.input-process-time-4 {
    top: 280px;
    left: 900px;
}

.label-ps-4 {
      top: 283px;
      left: 960px;
    }

.process-time-5 {
    top: 100px;
    right: 250px;
}

.input-process-time-5 {
    top: 120px;
    right: 280px;
}

.label-ps-5 {
      top: 120px;
      right: 220px;
    }

.skov-process{
    position: absolute;
    top: 100px;
    left: 280px;
    height: 18px;
    color: #14143C;
    font-family: Arial;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    cursor: default;
    }

.skov-process-input {
    position: absolute;
    top: 120px;
    left: 250px;
    height: 29px;
    width: 50px;
    color: #14143C;
    font-family: Arial;
    font-size: 26px;
    line-height: 29px;
    text-align: right;
    }

.input-enabled {
    border: 1px solid black;
  }

.input-disabled {
    border: 0px solid;
    cursor: default;
    }

.label-skov-process {
      position: absolute;
      top: 120px;
      left: 320px;
      height: 29px;
      width: 51px;
      color: #14143C;
      font-family: Arial;
      font-size: 26px;
      line-height: 29px;
      text-align: center;
      cursor: default;
    }


.item-5 {
  position: absolute;
  top: 300px;
  left: 1105px;
}

.ws-queue {
      position: absolute;
      height: 67px;
      width: 137px;
      color: #14143C;
      font-family: Arial;
      font-size: 60px;
      line-height: 67px;
      text-align: center;
      cursor: default;
}

.ws1-queue {
  top: 450px;
  left: 15px;
}


.ws2-queue {
  top: 450px;
  left: 281px;
}

.ws3-queue {
    top: 450px;
    left: 538px;
}

.ws4-queue {
    top: 450px;
    left: 798px;
}

.ws5-queue {
    top: 450px;
    left: 1023px;
}

.items {
      position: absolute;
      height: 29px;
      width: 56px;
      color: #14143C;
      font-family: Arial;
      font-size: 26px;
      line-height: 29px;
      text-align: center;
}

.item-1 {
    top: 475px;
    left: 180px;
}

.item-2 {
    top: 480px;
    left: 457px;
}

.item-3 {
    top: 485px;
    left: 709px;
}

.item-4 {
    top: 475px;
    left: 956px;
}

.button {
  position: absolute;
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  height: 29px;
  width: 142px;
  color: #14143C;
  font-family: Arial;
  font-size: 26px;
  line-height: 29px;
  text-align: center;
}



.button:hover,
.button:focus {
     -webkit-transform: scale(1.2);
 }

.start-button {
    top: 758px;
    left: 461px;
    height: 87px;
    width: 148px;
}

.full{
    color: red;
}

.warning {
    color: orange;
}

.vacant {
    color: green;
}

.reset-button {
    top: 750px;
    left: 859px;
    height: 87px;
    width: 148px;
}

.timer {
    position: absolute;
    height: 29px;
      width: 142px;
      color: #14143C;
      font-family: Arial;
      font-size: 26px;
      line-height: 29px;
      text-align: center;
    top: 820px;
    left: 664px;
}

/*Lead time*/

.lead-time-header {
      position: absolute;
      height: 18px;
      width: 110px;
      color: #14143C;
      font-family: Arial;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      cursor: default;
}

.lead-time-header-1 {
    left: 148px;
    top: 680px;
}

.lead-time-header-2 {
    left: 432px;
    top: 680px;
}

.lead-time-header-3 {
    left: 682px;
    top: 680px;
}

.lead-time-header-4 {
    left: 937px;
    top: 680px;
}

.lead-time-header-5 {
    left: 1113px;
    top: 680px;
}

.lead-time {
      position: absolute;
      height: 29px;
      width: 101px;
      color: #14143C;
      font-family: Arial;
      font-size: 26px;
      line-height: 29px;
      text-align: center;
      cursor: default;
}

.lead-time-1 {
    left: 135px;
    top: 700px;
}

.lead-time-2 {
    left: 419px;
    top: 700px;
}

.lead-time-3 {
    left: 669px;
    top: 700px;
}

.lead-time-4 {
    left: 924px;
    top: 700px;
}

.lead-time-5 {
    left: 1100px;
    top: 700px;
}

.sim {
color: #000;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

footer {
  margin-top: 30px;
  height: 73px;
  width: 1440px;
  opacity: 0.44;
  color: #14143C;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}